astral>=3.2
cdsapi>=0.7.2
cfgrib>=0.9.15.0
netCDF4==1.6.0
numpy>=1.19.0
openpyxl>=3.1.2
pandas>=1.5.0
paramiko>=3.5.1
pytest>=8.3.3
python-dotenv>=1.0.1
requests>=2.32.3
scipy>=1.14.1
timezonefinder>=6.2.0
xarray==2025.1.2
